<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <!-- <router-outlet></router-outlet> -->
        <li class="nav-item">
            <a [routerLink]="'/tasks'" routerLinkActive="active" class="nav-link">Task List</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/create'" routerLinkActive="active" class="nav-link">Create Task</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/update'" routerLinkActive="active" class="nav-link">Update Task</a>
        </li>
    </ul>
</nav>


<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet> </router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2024 &#64; NagarjunNetha</span>
    </div>

</footer>